@import 'tailwindcss';
@plugin "@midudev/tailwind-animations";

body {
  height: 100dvh;
  width: 100%;
}

/* Oculta el ícono de "mostrar contraseña" que agregan algunos navegadores */
.hide-password-toggle::-ms-reveal {
  display: none;
}
